@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



:root{
  --grasient:linear-gradient(90deg , #f1c40f , #f39c12);
}

*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .6s linear;
  -webkit-transition: all .6s linear;
  -moz-transition: all .6s linear;
  -ms-transition: all .6s linear;
  -o-transition: all .6s linear;
}


*::selection{
  background-color: #f39c12;
  color: #fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar{
  width: 1.5rem;
}
html::-webkit-scrollbar-track{
  background-color: #333;
}

html::-webkit-scrollbar-thumb{
  background:linear-gradient(90deg , #f1c40f , #f39c12);
}
body{
  height: 300rem;
}
.btn{
  padding: .7rem 3rem;
  font-size: 2rem;
  background: var(--grasient);
  color: #fff;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.btn::before{
  content: "";
  position: absolute;
  top: -1rem;
  left: -100%;
  background: #fff9;
  height: 150%;
  width: 20%;
  transform:rotate(25deg) ;
  -webkit-transform:rotate(25deg) ;
  -moz-transform:rotate(25deg) ;
  -ms-transform:rotate(25deg) ;
  -o-transform:rotate(25deg) ;
  z-index: -1;
}
.btn:hover:before{
  transition: .7s linear;
  -webkit-transition: .7s linear;
  -moz-transition: .7s linear;
  -ms-transition: .7s linear;
  -o-transition: .7s linear;
  left: 120%;
}
section{
  min-height: 100vh;
  padding: 1rem 7%;
  padding: 6rem;
}
.heading{
  color: #444;
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
}
/* 
=======================================
      => header section starts
==================================
*/
header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;left: 0;
  z-index: 10000;
  padding: 1.5rem 7%;
  background: var(--grasient);
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}


header .logo{
  color: #fff;
  font-size: 2.5rem;
}
header .navber  ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navber  ul li{
  margin: 0 1rem;
}
header .navber  ul li a{
  font-size: 2rem;
  color: #fff;
}
header .navber  ul li a:hover , header .navber  ul li a.active{
  color: #444;
}

header #login{
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

header #login:hover{
  color:#444 ;
}

header #menu{
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* 
=======================================
      => header section ends
==================================
*/


/* 
=======================================
      => login form
==================================
*/

.login-form{
  width: 100%;
  height: 100%;
  position: fixed;
  top:-120%;left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form.popup{
  top: 0;
}

.login-form form{
  width: 35rem;
  background: #fff;
  margin: 0 2rem;
  padding: 1rem 3rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  box-shadow: 0 .1rem .3rem #333;
  position: relative;
}
.login-form form h3{
  font-size: 3rem;
  color: #f39c12;
  padding: 1rem 0;
}
.login-form form .box {
  width: 100%;
  padding: 1rem 0 ;
  margin: 1rem 0;
  border-bottom: .2rem solid #666;
  font-size: 1.6rem;
  color: #333;
  text-transform: none;
}
.login-form form .box::placeholder{
  text-transform: capitalize;
}
.login-form form .box:focus{
  border-color: #f39c12;
}
.login-form form .box:nth-child(3){
  margin-bottom: 5rem;
}
.login-form form p{
  font-size: 1.4rem;
  color: #666;
  padding: .5rem 0;
}

.login-form form p a{
  color: #f39c12;
}

.login-form form .btn{
  width: 100%;
  margin: 2rem 0;
}
.login-form form .btn:hover{
  background: #444;
}

.login-form form .fa-times{
  position: absolute;
  top: 1.5rem;right:2rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #999;
}
.login-form form .fa-times:hover{
  color: #444;
}



/* 
=======================================
      => login form ends
==================================
*/






/* 
=======================================
      => home section starts
==================================
*/

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
.home h1{
  font-size: 6rem;
  color: #666;
}
.home p{
  font-size: 1.9rem;
  color: #666;
  padding: 1rem 0;
  width: 70rem;
}
.home .shape{
  position: absolute;
  bottom: -.1rem;
  left: 0;
  height: 15rem;
  width: 100%;
  background-image: url("../img/shape.png");
  background-size: 100rem 15rem;
  filter:drop-shadow(0 -.1rem) ;
  -webkit-filter:drop-shadow(0 -.1rem rgba(0, 0, 0, .2)) ;
  animation: animate 10s linear infinite;
  -webkit-animation: animate 10s linear infinite;
}

@keyframes animate {
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:100%;
  }
}


/* 
=======================================
      => home section ends
==================================
*/




/* 
=======================================
      =>  about section starts
==================================
*/

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about .image{
  flex: 1 1 40rem;
}
.about .image img{
  width: 100%;
  height: 65vh;
}
.about .content{
  flex: 1 1 40rem;
}
.about .content h3{
  font-size: 3.4rem;
  color: #666;
}
.about .content p{
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}


/* 
=======================================
        =>  about section ends
==================================
*/






/* 
=======================================
        =>  course section starts
==================================
*/

.course .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}


.course .box-container .box{

  flex: 1 1 35rem;
  border: .1rem solid rgba(0, 0, 0, .3);
  position: relative;
}
.course .box-container .box img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.course .box-container .box .content{
  padding: 1rem;
}
.course .box-container .box .content .stars i{
  color: #f39c12;
  font-size: 1.7rem;
  padding: 1rem .1rem;
}

.course .box-container .box .content .title{
  color: #444;
  font-size: 2.1rem;
}
.course .box-container .box .content .title:hover{
  text-decoration: underline;
}
.course .box-container .box .content p{
  padding: 1rem 0;
  color: #666;
  font-size: 1.5rem;
}
.course .box-container .box .content .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  border-top: .1rem solid rgba(0, 0, 0, .3);

}
.course .box-container .box .content .info h3{
  font-size: 1.5rem;
  padding: 1rem;
  color: #666;
}
.course .box-container .box .content .info h3 i{
  color: #f39c12;
}
.course .box-container .box .price{
  position: absolute;
  top: 16rem;
  right: 1rem;
  height:8rem ;
  width: 8rem;
  line-height: 8rem;
  text-align: center;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  background: var(--grasient);
  color: #fff;
  font-size: 3rem;
}


/* 
=======================================
        =>  course section ends
==================================
*/


/* 
=======================================
        => teacher section starts 
==================================
*/
.teacher{
  text-align: center;
  background-image: url("../img/teachers.jfif");
  background-size: cover;
  background-position: bottom;
}
.teacher p{
  font-size: 1.8rem;
  color: #666;
  width: 65rem;
  margin: 1rem auto;
}


/* 
=======================================
        => teacher section ends 
==================================
*/









/* 
=======================================
        => contact section starts 
==================================
*/
.contact{
  background: #111;
}
.contact .heading{
  color: #fff;
}
.contact .row{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.contact .row form {
  flex: 1 1 50rem;
  background-color: #222;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.contact .row form .box{
  height: 5rem;
  width: 49%;
  border: .1rem solid #eee;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #fff;
  background: none;
  text-transform: none;
}
.contact .row form .box::placeholder{
  text-transform: capitalize;
}
.contact .row form .box:focus{
  border-color: #f39c12;
}
.contact .row form .box.address{

  padding: 1rem;
  resize: none;
  height: 15rem;
  width: 100%;
}
.contact .row form .btn:hover{
  background: #fff;
  color: #333;
}

.contact .row .image img{
  height: 88vh;
  margin-top: 2rem;
}





/* 
=======================================
        => contact section ends 
==================================
*/













/* 
=======================================
      =>footer section starts 
==================================
*/




.footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box{
  margin:1.5rem;
  text-align: center;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color:#fff;
  padding:1rem 0;
}

.footer .box-container .box p{
  font-size: 1.7rem;
  color:#eee;
  padding:.7rem 0;
}

.footer .box-container .box p i{
  padding-right: .5rem;
  color:#f39c12;
}

.footer .box-container .box a{
  font-size: 1.8rem;
  display: block;
  padding:.5rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  text-decoration: underline;
}

.footer .credit{
  padding:2rem 1rem;
  font-size: 2rem;
  color:#fff;
  background:#111;
  text-align: center;
  font-weight: normal;
  padding-bottom: 9rem;
}

.footer .credit a{
  color:#f39c12
}









/* 
=======================================
      =>footer section ends 
==================================
*/












/* 
=======================================
      => media queries
==================================
*/

@media (max-width:768px) {
  html{
    font-size: 55%;
  }
  header #menu{
    display: block;

  }
  header .navber{
    position: fixed;
    top: -120%;left: 0;
    width: 100%;
    background: #444;
  }
  header .navber ul{
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navber ul li{
    margin: 1.5rem 0;
    text-align: center;
    width: 100%;
  }
  header .navber ul li a{
    font-size: 2.5rem;
    display: block;
  }
  header .navber ul li a:hover , header .navber ul li a.active{
    color: #f39c12;
  }
  .fa-times{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
  header .navber.nav-toggle{
    top: 6.4rem;
  }
  .home h1{
    font-size: 4rem;
  }
  .home p{
    width: auto;
  }
  .teacher p{
    margin: auto;
    width: 100%;
  }
  .contact .row .image {
    display: none;
  }
}
@media (max-width:500px) {
  html{
    font-size: 50%;
  }
  section{
    min-height: 100vh;
    padding: 1rem 7%;
    padding: 6rem;
  }
  .contact .row form .box{
    width: 100%;
  }
}